.addTracking-heading
{
    font-size: 1.5rem;
    font-weight: bolder;
}
.addTracking-headingDiv
{
    margin: 0px 3rem;
}
.notify-price
{
    font-size: 0.9rem;
}
.progress-bar
{
    background-color: rgba(0, 0, 0, 0.411);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
}
.running-bar
{
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 5px;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {
        left: 0%;
    }
    to
    {
        left: 100%;
    }
    
}
@media screen and (max-width:577px) {
    .notify-price
{
    font-size: 0.8rem;
}   
}
@media screen and (max-width:477px) {
    .addTracking-heading
    {
        font-size: 1.3rem;
        font-weight: bolder;
    }
    .notify-price
    {
        font-size: 0.7rem;
    }
.addTracking-headingDiv
{
    margin: 0px 2rem;
}    
}
@media screen and (max-width:405px) {
    .addTracking-heading
{
    font-size: 1.1rem;
    font-weight: bolder;
}
.notify-price
{
    font-size: 0.6rem;
}
.addTracking-headingDiv
{
    margin: 0px 1.5rem;
}    
}
@media screen and (max-width:349px) {
    .addTracking-heading
{
    font-size: 1rem;
    font-weight: bolder;
}
.addTracking-headingDiv
{
    margin: 0px 0.5rem;
}    
}
@media screen and (max-width:300px) {
    .addTracking-heading
{
    font-size: 0.9rem;
    font-weight: bolder;
}
.addTracking-headingDiv
{
    margin: 0px 0rem;
}    
}